[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna
[submodule "themes/hugo-astatine-theme"]
	path = themes/hugo-astatine-theme
	url = https://github.com/hugcis/hugo-astatine-theme
[submodule "themes/hugo-texify3"]
	path = themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3
[submodule "themes/hugo-theme-puppet"]
	path = themes/hugo-theme-puppet
	url = https://github.com/roninro/hugo-theme-puppet
[submodule "themes/hinode"]
	path = themes/hinode
	url = https://github.com/gethinode/hinode
[submodule "themes/hugo-theme-tailwind"]
	path = themes/hugo-theme-tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind
[submodule "themes/hugo-xterm"]
	path = themes/hugo-xterm
	url = https://github.com/manid2/hugo-xterm
[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-theme-flat"]
	path = themes/hugo-theme-flat
	url = https://github.com/leafee98/hugo-theme-flat
[submodule "themes/lekh"]
	path = themes/lekh
	url = https://github.com/ba11b0y/lekh
[submodule "themes/simplog"]
	path = themes/simplog
	url = https://github.com/michimani/simplog
[submodule "themes/hugo-theme-anubis2"]
	path = themes/hugo-theme-anubis2
	url = https://github.com/Junyi-99/hugo-theme-anubis2
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome
[submodule "themes/gruvhugo"]
	path = themes/gruvhugo
	url = https://gitlab.com/avron/gruvhugo
[submodule "themes/hugo-simple"]
	path = themes/hugo-simple
	url = https://github.com/maolonglong/hugo-simple.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-coder-custom"]
	path = themes/hugo-coder-custom
	url = https://github.com/amt8u/hugo-coder-custom.git
[submodule "themes/dot-org-hugo-theme"]
	path = themes/dot-org-hugo-theme
	url = https://github.com/cncf/dot-org-hugo-theme.git
[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/gethyas/doks
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo
[submodule "themes/saral"]
	path = themes/saral
	url = https://github.com/dipeshsingh253/saral
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo.git
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console
[submodule "themes/holy"]
	path = themes/holy
	url = https://github.com/serkodev/holy
[submodule "themes/seven"]
	path = themes/seven
	url = https://github.com/mrhelloboy/seven
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite
[submodule "themes/hugo-theme-jane"]
	path = themes/hugo-theme-jane
	url = https://github.com/xianmin/hugo-theme-jane
[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style
[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/suyundukov/hugo-sustain
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "themes/hugo-black-and-light-theme"]
	path = themes/hugo-black-and-light-theme
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme
[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = https://github.com/kaiiiz/hugo-theme-monochrome.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison
[submodule "themes/no-style-please"]
	path = themes/no-style-please
	url = https://github.com/g-hanwen/hugo-theme-nostyleplease
[submodule "themes/hugo-ladder"]
	path = themes/hugo-ladder
	url = https://github.com/guangzhengli/hugo-theme-ladder
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/dataCobra/hugo-vitae
[submodule "themes/maverick"]
	path = themes/maverick
	url = https://github.com/canhtran/maverick
[submodule "themes/pehtheme-hugo"]
	path = themes/pehtheme-hugo
	url = https://github.com/fauzanmy/pehtheme-hugo
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/hugo-blox-builder"]
	path = themes/hugo-blox-builder
	url = https://github.com/HugoBlox/hugo-blox-builder
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie
[submodule "themes/terminal-hugo-theme"]
	path = themes/terminal-hugo-theme
	url = https://github.com/techbarrack/terminal-hugo-theme
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/techbarrack/terminal-hugo-theme
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
