<header>
	<div class="main">
		<a class="logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		<span class="action" id="dark-mode-toggle" onclick="toggleTheme()" ></span>
		<span id="view-mode-toggle" class="action" title="Expand to fit screen" onclick="toggleView()"></span>
	</div>
	<nav>
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			<a class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
			<span class="action" id="dark-mode-toggle" onclick="toggleTheme()" ></span>
		<script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
		<script src="{{ .Site.BaseURL }}js/viewtoggle.js"></script>
		{{ end }}
	</nav>
</header>
