<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ $defaultThumbnail := "/placeholder-dark.png" }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					{{- $images := .Resources.ByType "image" }}
					{{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumbnail*")}}
					{{ if $thumbnail }}
						<img alt="feature-image" src="{{ $thumbnail.RelPermalink }}">
					{{ else }}
						<img alt="feature-image" src="{{ $defaultThumbnail }}">
					{{ end }}

					<div>
						<h2 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h2>
						<div class="meta">
							<span>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }} &nbsp;&nbsp;</span>
							<span class="tags">
								{{ range .Params.tags }}
									<span><a href="/tags/{{ . }}">{{ . }}</a>&nbsp;</span>
								{{ end }}
							</span>
						</div>
							{{ template "partials/pagedescription.html" . }}
					</div>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>
